body{
    box-sizing: border-box;
    margin: auto 0;
}
.zone {
    color:#FFF;
    /* font-size: 2em; */
    /* font-size:2em; */
    /* border-radius:4px; */
    /* border:1px solid #bbb; */
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-image: linear-gradient(rgb(0, 127, 245),rgb(97, 218, 255));   
}
.main-nav{
    font-size:22px ;
    display: flex;
    list-style: none;
    margin: 0;
}
.main-nav li{
    padding: 15px 30px;
}
.main-nav li a{
    
    text-decoration: none;
    color: #e0e0e0;
    
}
.main-nav li a:hover{
    color: rgb(182, 182, 182);
}
.main-nav li:last-child{
    margin-left: auto;
}
/*
    Media query for Nav
/* */
@media only screen and (max-width:610px){
    .main-nav li{
        padding:15px;
    }
    
} 
/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background-color:rgb(255, 255, 255);    
}

.cover{
    padding: 60px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
.cover img{
    max-width: 100%;
    max-height: 100%;
    
}
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    text-align: center;
    font-size: 22px;
    padding: 15px 0;
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
.grid-wrapper{

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
}
.box>img{
    width: 100%;
}
.box{
    background-color: #444;
    padding: 100px;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.box:hover{
    box-shadow: 0 0 10px #444;
    transform: scale(1.03) rotate(-1deg);
    z-index: 1;
}
